body{
    background-color: white;
    font-family: 'Lucida Bright', Times, serif;
    background-image: url('https://cdn.pixabay.com/photo/2016/08/01/16/18/raspberries-1561457__340.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* -- Navigation -- */

#imgdata{
    width: 250px;
}
.menulinks, #menu-title{
    color: #000;
    font-size: 1.7rem;
}
nav .mobtab{
    font-size: 3rem;
    color: red;
}

/* -- Footer -- */

.list-inline-item{
    margin: 0 auto;
    display: inline-block;
}

/* -- Recipe Form -- */

h1{
    color: #000;
}

.search_input{
    border-style: outset;
}

fieldset{
    border: black solid 1px;
    background-color: white;
    font-size: 20px;
}
legend{
    width: auto;
    color: #1f497d;
    font-size: 30px;
}
.times_title{
    font-weight: 600;
    float: left;
}
.times{
    float: left;
    padding-left: 0.625em;
}

form#loginform, form#registerform{
  margin: auto;
  width: 70%;
}

/* -- Modal -- */

.modal {
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 40%;
  width: 35%;
  will-change: top, opacity;
}

/* Media Queries */

 /* # Mobile */

@media only screen and (max-width: 768px) {

.mobtab{
    font-size: 2.5rem;
    color: blue;
}
.buttonsreset{
    margin: auto;
}

form#loginform, form#registerform{
  margin: auto;
  width: 100%;
}

}