{% extends "base.html" %}
{% block content %}

    <h1>Recipe Page</h1>

    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search_recipe') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes:</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_recipes') }}" class="red btn text-shadow">
                        <i class="fas fa-trash-restore"></i> Reset
                    </a>

                    <button type="submit" class="light-blue darken-1 btn text-shadow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    
    {% if recipes|length > 0 %}
    <ul class="collapsible popout">
         {% for recipe in recipes %}
            <li>
                <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                 <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == recipe.created_by|lower %}
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small red accent-4">Delete</a>
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                    {% endif %}
                </div>

                <i class="fas fa-caret-down"></i>
                 <strong>{{ recipe.recipe_name }}</strong>
                </div>

                <div class="collapsible-body">
                <strong>{{ recipe.prep_time }}</strong>
                <p>{{ recipe.ingredients }}</p>
                </div>
                


            </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}
        

{% endblock %}