{% extends "base.html" %}
{% block content %}

    <div class="row">
        <form id="registerform" method="POST" action="{{ url_for('register') }}">
            <h1 class="center-align yellow lighten-2">Register</h1>
            <div class="card-panel yellow lighten-2">
                <fieldset>
                    
                <!-- username -->

                <div class="row">
					<div class="input-field col s12 m10 offset-m1">
						<i class="fas fa-user-plus prefix text-darken-2"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
						<label for="username">Username</label>
					</div>
                </div>

                <!-- password -->

                <div class="row">
                    <div class="input-field col s12 m10 offset-m1">
                        <i class="fas fa-user-lock prefix text-darken-2"></i>
                        
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate password-input" autofocus aria-laballedby="password" required>
                        <label for="password">Password</label>
                        <div id="reasons" class="reasons"></div>

                    </div>
                </div>

                <div class="strength-meter" id="strength-meter"></div>

                <!-- register submit button -->

                <div class="row">
                    <button type="submit" class="col s12 m10 offset-m1 btn-large white-text text-darken-2">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
                </fieldset>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already Registered?
                <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Sign in</a>
            </p>
        </div>
    </div>

{% endblock %}